
body, h1, p {
    margin: 0;
    padding: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar-logo {
    font-size: 24px;
}

.navbar-links {
    display: flex;
    gap: 10px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

.navbar-links a:hover {
    background-color: #555;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('assets/dog.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    color: #fff;
    text-align: center;
    padding: 20px;
}



.banner h1 {
    font-size: 32px;
    color: #fff;
}

.banner p {
    font-size: 18px;
    color: #fff;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.product-item {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-item h3 {
    margin: 10px 0;
}

.product-item p {
    color: #666;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer h3 {
    color: #fff;
}

.footer p {
    color: #ccc;
}

.footer-right img {
    max-width: 100px;
    height: auto;
}
.sub-footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}